.header {
  .dark-theme & {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
  .header__menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.2fr 2fr .8fr;
    grid-auto-rows: minmax(auto, 6.56vw);
    .header__logo {
      position: absolute;
      top: 1.80vw;
      left: 17.67vw;
      text-decoration: none;
      img {
        width: 9.25vw;
      }
    }
    .header__list {
      grid-column: 2/3;
      grid-auto-flow: column;
      display: grid;
      justify-items: center;
      align-items: center;
    }
        li>span {
            margin: 25px 0px;
            align-items: center;
          }
          li {
            justify-self: start;
          }
          .header__list li {
            list-style-type: none;
            font-size: 1.25vw;
            font-weight: 400;
            a {
              text-decoration: none;
              color: var(--text-color);
            }
          }
          .switch {
              border: none;
              width: 2.50vw;
              justify-items: center;
              align-items: center;
              height: 20px;
              .switch.switch-small {
                right: 0 !important;
                height: 20px !important;
                width: 20px !important;
              }
          }
      }
}

.hidden-menu-ticker {
  display: none;
}

.translate {
  position: absolute;
  top: 2.50vw;
  right: 17.67vw;
  font-size: 1.25vw;
  .hrefEn {
    color: black;
    text-decoration: none;
  }
  .hrefRu {
    color: black;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .translate {
    position: absolute;
    top: 3.5vw;
    right: 5.67vw;
    font-size: 6.40vw;
  }
    .header {
      position: relative;
      display: block;
      .header__menu {
        .header__logo {
          position: absolute;
          top: 3.5vw;
          right: 5.67vw;
          img {
            width: 30.25vw;
          }
        }
        .hidden-menu  {
          z-index: 7;
          display: block;
          position: fixed;
          list-style:none;
          padding: 10px;
          margin: 0;
          box-sizing: border-box;
          width: 100%;
          background-color: #4c4c4c;
          height: 100%;
          top: 0;
          left: -100%;
          transition: left .2s;
          z-index: 2;
          transform: translateZ(0);
          backface-visibility: hidden;
          & li {
            display: block;
            margin-top: 3.5vw;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
            font-size: 8.35vw;
            padding-bottom: 1.64vw;
            padding-left: 3.34vw;
            padding-right: 3.34vw;
            & a {
              color: white;
              align-items: center;
            }
          }
        }
        .hidden-menu-ticker {
          display: none;
        }
        .btn-menu {
          color: #000000;
          padding: 1.17vw;
          position: absolute;
          top: 4.9vw;
          left: 3.9vw;
          cursor: pointer;
          transition: left .23s;
          z-index: 3;
          width: 4.38vw;
          transform: translateZ(0);
          backface-visibility: hidden;
        }
        .btn-menu span {
          display: block;
          height: 0.57vw;
          background-color: #000000;
          margin: 5px 0 0;
          transition: all .1s linear .23s;
          position: relative;
        }
        .btn-menu span.first {
          margin: 0;
        }
        .btn-menu span.third {
          margin-bottom: 0;
        }
        .hidden-menu > li {
          display: block;
        }
        
        .hidden-menu-ticker:checked ~ .btn-menu {
          position: fixed;
          span {
            background-color: white;
          }
        }
        .hidden-menu-ticker:checked ~ .hidden-menu {
          left: 0;
        }
        .hidden-menu-ticker:checked ~ .btn-menu span.first {
          transform: rotate(45deg);
          top: 8px;
        }
        .hidden-menu-ticker:checked ~ .btn-menu span.second {
          opacity: 0;
        }
        .hidden-menu-ticker:checked ~ .btn-menu span.third {
          transform: rotate(-45deg);
          top: -8.4px;    
        }
      }
    }
  }

    @media (max-width: 511px) {
      .hidden-menu-ticker:checked ~ .btn-menu span.third {
        transform: rotate(-45deg);
        top: -3px;    
      }
    }
    
    @media screen and (max-width: 482px) {
      .hidden-menu-ticker:checked ~ .btn-menu span.first {
        transform: rotate(45deg);
        top: 2px;    
      }
    }

    @media screen and (max-width: 396px) {
      .hidden-menu-ticker:checked ~ .btn-menu span.third {
        margin-top: 7px;    
        transform: rotate(-45deg);
      }
    }
    
    @media (max-width: 340px) {
      .hidden-menu-ticker:checked ~ .btn-menu span.third {
        margin-top: 7.5px;    
        transform: rotate(-45deg);
      }
    }

