<header class="header" id="/" #container>
    <nav class="header__menu">
        
        <input type="checkbox" id="hmt" class="hidden-menu-ticker"  *ngIf="menuToggle">
        <label class="btn-menu" for="hmt" (click)="toggle()">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
        </label>

    <a href="" class="header__logo" *ngIf="toggleLogo">
        <img src="/assets/logo/logo_black.png"  alt="">
    </a>
    <a href="" class="header__logo" *ngIf="!toggleLogo">
        <img src="/assets/logo/logo_white.png"  alt="">
    </a>

        <ul class="header__list hidden-menu">
            <li >
                <a 
                (click)="menuToggle = false"
                routerLink="/"
                routerLinkActive="active"
                i18n="@@h_glav"
                >главная</a>
            </li>
            <li>
                <a 
                (click)="menuToggle = false"
                routerLink="/about" 
                routerLinkActive="active"
                (click)="scrAbout()"
                i18n="@@h_we"
                >о нас</a>
            </li>
            <li>
                <a 
                (click)="menuToggle = false"
                routerLink="/technologies"
                routerLinkActive="active"
                (click)="scrTech()"
                i18n="@@h_tech"
                >технологии</a>
            </li>
            <li>
                <a 
                (click)="menuToggle = false"
                routerLink="/reviews"
                routerLinkActive="active"
                (click)="scrReview()"
                i18n="@@h_rew"
                >отзывы</a>
            </li>
        </ul>

        <ui-switch class="switch switch-none" (click)="changeBody()"></ui-switch>
        
        <div class="translate">
            <a href="/ru/" class="hrefRu" (click)="rusLang()" *ngIf="togTranslate">RU</a>
        </div>
        
        <div class="translate">
            <a href="/en/" class="hrefEn" (click)="englishLang()" *ngIf="!togTranslate">EN</a>
        </div>
           
    </nav>
</header>