    .for_span {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 6.25vw 0px 4.38vw 0px;
      span {
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
        font-weight: 600;
        font-size: 2vw;
      }
  }

swiper {
  display: block;
  max-width: 65.13vw;
  margin: 0 auto;
  width: 100%;
  height: 25vw;
  position: relative;
  .swiper-wrapper {
    height: 100%;
    box-sizing: border-box;
    .swiper-slide {
      display: block;
      .allSection {
        margin: 0 auto;
        padding: 75px auto;
        background: #4E86C8;
        max-width: 48.13vw;
        height: 30.63vw;
        color: white;
        .image img {
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
          left: 5.94vw;
          top: 0.69vw;
        }
        .name {
          display: flex;
          text-align: center;
          position: absolute;
          top: 2.69vw;
          justify-content: center;
          font-size: 2vw;
          left: 50%;
          right: 50%;
          font-weight: 400;
        }
        .text {
          font-weight: 400;
          text-align: center;
          font-size: 1.13vw;
          display: block;
          padding-top: 6.56vw;
          width: 40.56vw;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }
  .swiper-pagination {
    color: white;
    display: block;
    position: absolute;
    bottom: 2vw;
    z-index: 4;
    width: 2vw;
  }
  .swiper-button-next {
    position: absolute;
    top: 12.75vw;
    color: #4E86C8;
  }
  .swiper-button-prev {
    position: absolute;
    top: 12.75vw;
    color: #4E86C8;
  }
}

@media screen and (max-width: 600px) {
  section {
    position: relative;
    .for_span {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 29.87vw 0px 6.67vw 0px;
      span {
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
        font-weight: 600;
        font-size: 8.53vw;
      }
  }
    swiper {
      display: block;
      max-width: 95.33vw;
      margin: 0 auto;
      width: 100%;
      height: 85.27vw;
      margin-top: 5vw;
      position: relative;
      .swiper-wrapper {
        height: 80vw;
        box-sizing: border-box;
        .swiper-slide {
          display: block;
          .allSection {
            margin: 8vw auto 0px auto;
            background: #4E86C8;
            max-width: 90vw;
            height: 100%;
            color: white;
            .image img {
              display: block;
              width: 16vw;
              height: 16vw;
              border-radius: 50%;
              object-fit: cover;
              position: absolute;
              left: -2.24vw;
              top: -2.4vw;
              z-index: 5;
            }
            .name {
              display: flex;
              text-align: center;
              position: absolute;
              top: 8.53vw;
              justify-content: center;
              font-size: 8.53vw;
              left: 50%;
              right: 50%;
            }
            .text {
              text-align: center;
              font-size: 3.73vw;
              display: block;
              padding-top: 22.40vw;
              width: 81.33vw;
              justify-content: center;
            }
          }
        }
      }
      .swiper-pagination {
        color: white;
      }
    
      .swiper-button-next {
        position: absolute;
        top: 12.75vw;
        display: none;
      }
      .swiper-button-prev {
        position: absolute;
        top: 12.75vw;
        display: none;
      }
    }
  }
}