  <section id="reviews">
  <div class="for_span">
      <span i18n="@@r_r">Отзывы</span>
    </div>
    
    <swiper [config]="config">
    <div class="swiper-wrapper" >
        <div class="swiper-slide" *ngFor="let res of reviews, let i = index">
          <section class="allSection">
            <div class="name">
              {{ getName(i) }}
            </div>
            <div class="text" >
              {{ getText(i) }}
            </div>
          </section>
        </div>
   
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

</section>
