<footer class="footer">
    <nav class="footer__menu">
        <ul class="footer__list">
            <li>
                <a class="logo">
                    <img src="/assets/logo/logo_white.png" alt="white_logo">
                </a>
            </li>
            
            <li>
                <a routerLink="/"
                (click)="scrollToMain()"
                i18n="@@foot_home"
                >главная</a>
            </li>
            <li>
                <a routerLink="/about"
                (click)="scrollToAbout()"
                i18n="@@foot_about"
                >о нас</a>
            </li>
            <li>
                <a routerLink="/technologies"
                (click)="scrollToTech()"
                i18n="@@foot_tech"
                >технологии</a>
            </li>
            <li>
                <a routerLink="/reviews"
                (click)="scrollToReview()"
                i18n="@@foot_rew"
                >отзывы</a>
            </li>
        </ul>
    </nav>


    <section class="links">
        <div>
            <a href="#">
                <img src="/assets/footer/icons8-telegram.svg" alt="">
            </a>
            <a href="#">
                <img class="facebook" src="/assets/footer/icons8-facebook.svg" alt="">
            </a>
            <a href="#" >
                <img class="inst" src="/assets/footer/icons8-instagram.svg" alt="">
            </a>
            <a href="#" >
                <img  class="twitter" src="/assets/footer/icons8-twitter.svg" alt="">
            </a>
            <a href="#">
                <img class="whatsapp" src="/assets/footer/icons8-whatsapp.svg" alt="">
            </a>
        </div> 
    </section>
    <span i18n="@@foot_all">Все права защищены</span>
</footer>
