.footer {
    position: relative;
    background: #4E86C8;
    height: 15.44vw;
    .footer__menu {
        .footer__list {
            grid-auto-flow: column;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(9, 1fr);
            height: 6.56vw;
            li:nth-child(1) {
                align-self: center;
                grid-column: 3/4;
                display: grid;
                a img {
                    width: 9.25vw;
                }
            }
            li:nth-child(2) {
                align-self: center;
                grid-column: 4/5;
                display: grid;
            }
            li:nth-child(3) {
                align-self: center;
                grid-column: 5/6;
                display: grid;
            }
            li:nth-child(4) {
                align-self: center;
                grid-column: 6/7;
                display: grid;
            }
            li:nth-child(5) {
                align-self: center;
                grid-column: 7/8;
                display: grid;
            }
            li {
                justify-self: center;
                list-style-type: none;
                & a {
                    font-size: 1.25vw;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        & div {
            grid-column: 3/4;
            & a {
                margin: 0 .85vw;
                & img {
                    height: 2.19vw;
                }
            }
        }
    }
    span {
        display: block;
        margin: 1.88vw  0px 0px 0px;
        text-align: center;
        font-size: 0.94vw;
        font-weight: 400;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        position: relative;
        width: 100%;
        height: 69.33vw;
        .footer__menu {
            display: block;
            .footer__list {
                li:nth-child(1) {
                    position: absolute;
                    top: 3.33vw;
                    left: 32vw;
                    a img {
                        width: 28vw;
                    }
                }
                li:nth-child(2) {
                   position: absolute;
                   top: 15vw;
                   left: 14vw;
                }
                li:nth-child(3) {
                    position: absolute;
                    top: 15vw;
                    right: 20vw;
                }
                li:nth-child(4) {
                   position: absolute;
                   top: 27vw;
                   left: 10vw;
                }
                li:nth-child(5) {
                   position: absolute;
                   top: 27vw;
                   right: 17vw;
                }
                li {
                    a {
                        font-size: 5.33vw;
                    }
                }
            }
        }
        .links {
            display: grid;
            grid-template-columns: 1fr 6fr 1fr;
            grid-template-rows: 1fr;
            div {
                position: absolute;
                bottom: 17.47vw;
                grid-column: 2/3;
                justify-self: center;
                a {
                    img {
                        width: 9.33vw;
                        height: 9.33vw;
                        margin: 0 4vw;
                    }
                }
            }
        }
        span {
            position: absolute;
            font-size: 4vw;
            bottom: 6vw;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}