
<main class="tech" id="technologies">
    <div class="for_span" >
        <span>Технологии</span>
    </div>
</main>
<picture class="picture_1" >
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img class="django" src="/assets/technologies/django.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/python.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/redux.png" alt="">
            </div>
            <div class="slide">
                <img class="html" src="/assets/technologies/html.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/cssjpg.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/js1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/angular.png" alt="">
            </div>
            <!-- <div class="slide">
                <img src="/assets/technologies/ts.png" alt="">
            </div> -->


            <div class="slide">
                <img class="django" src="/assets/technologies/django.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/python.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/redux.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/html.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/cssjpg.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/js1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/angular.png" alt="">
            </div>
            <!-- <div class="slide">
                <img src="/assets/technologies/ts.png" alt="">
            </div> -->

        </div>
    </div>
</picture>

<picture class="picture_2">
    <div class="slider-2">
        <div class="slide-track-2">
            <div class="slide">
                <img src="/assets/technologies/ts.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/ps.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/ai.png" alt="">
            </div>
            <div class="slide">
                <img class="html" src="/assets/technologies/kis.png" alt="">
            </div>
            <div class="slide">
                <img class="figma" src="/assets/technologies/figma.png" alt="">
            </div>
            <div class="slide">
                <img class="docker" src="/assets/technologies/docker.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/slon.png" alt="">
            </div>

            <div class="slide">
                <img src="/assets/technologies/ts.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/ps.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/ai.png" alt="">
            </div>
            <div class="slide">
                <img class="html" src="/assets/technologies/kis.png" alt="">
            </div>
            <div class="slide">
                <img class="figma" src="/assets/technologies/figma.png" alt="">
            </div>
            <div class="slide">
                <img class="docker" src="/assets/technologies/docker.png" alt="">
            </div>
            <div class="slide">
                <img src="/assets/technologies/slon.png" alt="">
            </div>



        </div>
    </div>
</picture>