
.tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    .for_span {
        grid-column: 2/3;
        justify-self: center;
        align-items: center;
        margin: 6.25vw 0px 4.38vw 0px;
        & span {
            margin-bottom: 4.38vw;
            grid-column: 2/3;
            font-size: 2vw;
            font-weight: 600;
            justify-self: center;
            align-items: center;
        }
    }
}
.picture_1 {
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
    $animationSpeed: 60s;
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-15.63vw * 7))}
    }
    .slider {
        background: white;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 100%;
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            position: absolute;
            z-index: 2;
        }
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
        &::before {
            left: 0;
            top: 0;
        }
        .slide-track {
            .slide .html {
                height: 8.10vw;
                padding-top: 0;

            }
            .slide .css {
                padding-top: 0.75vw;
                height: 7.50vw;
            }
            .slide .django {
                height: 5vw;
                padding-top: 1.56vw;
            }
            img {
                height: 8.38vw;
                width: 8.38vw;
                margin: 0 3.38vw;
            }
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
            width: 100%;
        }
    }
}

.picture_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    $animationSpeed: 60s;
    @keyframes scroll-2 {
        0% {transform: translateX(-15.63vw * 7);}
        100% {transform: translateX(-1);}
    }
    .slider-2 {
        background: white;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 100%;
        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: 2;
        }
        &::after {
            right: 0;
            top: 0;
        }
        &::before {
            left: 0;
            top: 0;
        }
        .slide-track-2 {
            .slide .figma {
                width: 6.25vw;
            }
            .slide .docker {
                width: 9.38vw;
            }
            img {
                height: 8.38vw;
                width: 8.38vw;
                margin: 1.88vw 3.38vw 0px 3.38vw;
            }
            animation: scroll-2 $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .tech {
        padding: 26.67vw 0px 7.47vw 0px;
        .for_span  span{
            font-size: 8.53vw;
        }
    }
    .picture_1 {
        .slider {
            .slide-track {
                .slide .html {
                    height: 17vw;
                }
                .slide .css {
                    height: 15.4vw;
                    padding-top: 2vw;
                }
                .slide  img {
                    width: 17.60vw;
                    height: 17.60vw;
                }
                .slide .django {
                    height: 11vw;
                    padding-top: 3.1vw;
                }
            }
        }
    }
    .picture_2 {
        padding-top: 12.80vw;
        .slider-2 {
            .slide-track-2 {
                .slide  img {
                    width: 17.70vw;
                    height: 17.60vw;
                }
                .slide .figma {
                    width: 11.25vw;
                }
                .slide .docker {
                    width: 17.38vw;
                }
            }
        }
    }
}

