.scroll-to-top {
    position: fixed;
    bottom: 2.19vw;
    right: 2.19vw;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 1;
    .arrow-up {
        cursor: pointer;
        img {
            width: 5.63vw;
        }
    }
}
.show-scrollTop {
 opacity: 1;
 transition: all .2s ease-in-out;
}
@media screen and (max-width: 600px) {
    .scroll-to-top { 
        bottom: 12.19vw;
        right: 5.19vw;
        .arrow-up {
            img {
                width: 15.63vw;
            }
        }
    }
}