.scroll-to-top {
    position: fixed;
    bottom: 2.19vw;
    right: 2.19vw;
    opacity: 0;
    transition: all .2s ease-in-out;
    // .material-symbols-outlined {
    // font-variation-settings:
    // 'FILL' 0,
    // 'wght' 400,
    // 'GRAD' 0,
    // 'opsz' 48
    // }
    z-index: 1;
    .arrow-up {
        font-size: 4.13vw;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
    }
}
.show-scrollTop {
 opacity: 1;
 transition: all .2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .scroll-to-top { 
        bottom: 12.19vw;
        right: 5.19vw;
        .arrow-up {
            font-size: 12.13vw;
        }
    }
}